.nav {
  background-color: #e1e1e1;
}

.nav a {
  color: #000000;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('pics/symphony.png');
  /*background-color: #787F80;*/
  height: 500px;
  /*background-repeat: repeat;*/
  /*background-size: cover;*/
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #f1f1f1;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #000000;
}

/*.display-area {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dbdbdb;
}

.display-area h2 {
    color: #393c3d;
    font-size: 24px;
}

.display-area p {
    font-size: 15px;
    margin-bottom: 13px;
}*/

.link-area {
  background-color: #eeeeee;
}

.link-area h3 {
  color: #000000;
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.link-area a {
  color: #000000;
}

.link-area p {
  color: #000000;
}